 body{
    background-color:#ffffff;
    width:100% !important;
} 
 .headerSection{
    height:100px;
 }
.form_search{
    height: 100%;  
}
.search_box{
    position:relative;
}
.search_box > i{
    position:absolute;
    margin-top:-50px;
    margin-left:81%;    
}
.loginBox{
    background-color:#f0f0f0;  
}
.logs{
    font-weight:lighter;
}

/* NAV BAR */
.imgBrand{
 transform:scale(1.3,1.6);} 
.navImg{
    margin:5px 23%;
}
.navDeco{
   margin:18px 270px;
 }
 

/* BOX1 */

.box1{
    margin:9% 10% 9% 25%;
    display:inline-block;   
}
.lt_box1{
    float:left;
    width:30%;     
}
.rt_box1{   
    float:left;
    width:35%;
}
.para1{
    font-size:36px;
    font-weight:600;
    line-height:1;
    margin-left:23px;
}
.para2{
    font-size:140px;
    font-weight:600;
    line-height: 1 ;
    margin-left:20px;
}
.para3{
    font-size:320px;
    font-weight:600;
    line-height:0.7 ;
    padding-left:0px;
}
.bot_box1{   
    margin-top:5%; 
    width:68%;
    background-color:rgb(187, 187, 187);
    display:inline-block;
    border-style:solid transparent;
    border-radius:100px 50px 100px 50px;
    transform:rotate(-2deg);       
} 
/* .bot_box1:after {
    height:0px;
    border-left:100px solid transparent;
    border-right:100px solid transparent;
    border-top: 600px solid rgb(187, 187, 187);
    transform:rotate(-1deg); 
    margin-bottom:5%; 
    position:absolute;  
} */
 .bot_lt{
    float:left;
    transform:rotate(1deg);
    margin:9%;
    width:45%;    
}   
.bb1_para1{
    color:rgb(249, 133, 1);
    font-size:41px;
    font-weight:400;
    line-height:1px;
}
.bb1_para2{
    font-size:77px;
}
.bb1_para3{
    font-size:27px;
}
.bot_rt{
    margin:2% 1%;
}
.wavehand{
    height:180px;
    width:210px;
    float:left;
    margin-top:5%;
}
.hexShape{
  float:left;
  margin-top:8%;
  width: 440px;
  height: 465px;
  background-color: #fd9651;
  border-radius:15%;
  /* -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); */
  transform:rotate(-18deg);  
}
.hexText1{
    margin-top:35%;
    margin-left:15%;
    font-size:27px;
    transform:rotate(18deg);
}
.hexText2{
    margin-left:32%;
    font-size:68px;
    transform:rotate(18deg);
    margin-top:15%
 } 

  /* BOX2  to BOX5 */

 .box2{
    width:100%;
 }

.lt_box2{
    margin:5% 1% 7% 45%;
}
.shape{
   font-size:50px;
   font-weight:700;
    color:rgb(0, 110, 255);
    background-color:white;
    padding:4px 18px;
    border-style:inherit;
    border-radius:36% 2%;     
}
.sText{
    color:white;
    font-size:59px;
   margin-left:9px;
   line-height:2.7;
}
.text2{
    font-size:100px;
    font-weight:bold;
    line-height:1;
}
.text3{
    font-size:32px;
    margin-top:2%;
}
.boxButton{
    margin-top:4%;
}
.buttonTxt{
   font-size:27px;
   font-weight:600;
  padding:6px 14px;
} 
.mid_box2{
    float:left;
    margin:6% 9%;
}
.mid_box2 > video{
    height:66%;
    width:100%;
}
.GRFS{
    margin:77% 41%;
} 

/* RECTANGLE BOX(given primary color) */

.rect_box{
    width:50% !important;;
    margin-left:25%;
    margin-right:25%;
    
}
.rect_boxImg{
    margin:9%;
}
.rect_txt1{
    font-size:36px;
    font-weight:500;
    color:white;
    margin-top:14%;
    margin-left:14%;

}
.rect_txt2{
    font-size:72px;
    font-weight:600;
    color:white;
    margin-left:14%;
}
.rect_txt3{
    font-size:27px;
    margin-left:14%;
    margin-right:5%;
    color:white;
}
.viewGizmo{
   margin-left:14%;
   margin-top:3%;
}
.txt_VG{
    padding:9px 18px;
} 

/* INSIGHTS BOX (box6)*/
.box6{
    width:64% !important;;
    margin-left:27%;
    margin-right:18%;
}

 .lt_box6{
   
    margin:5% 14% 7% 1%;
}
.box6_txt1{
    font-size:41px;
    font-weight:bold;
    line-height: 3;
}
.box6_txt2{
    font-size:32px;
    font-weight:lighter;
}
.insights{
    margin-top:9%;
}
.bottom_cols{
margin: 0% 2%;
}
.c-img > img{
    height:360px;
    width:680px;
    border-radius:5%;    
}
.c-header{
    font-size:32px;
    margin-bottom:18px;
    color:red;
}
.c-footer{
    font-size:27px;
    margin-top:18px;
    font-weight:bold;
    width:590px;
}

/* EVERYBODY TALKING (box7)*/

.box7{
    width:50% !important;;
    margin:3% 25%;
    
}


.top_box7{
   text-align:center;
   font-size:50px;
    
} 
.testim1{
    margin:3% 9%;
    font-size:41px;
    
}
.testim2{
    line-height:1.5;
    font-size:32px;
    
}

/* CAREERS BOX (box8)*/

.box8{
    width:65%;
    margin:5% 0% 0% 25%;
    display:inline-block;
}
.lt_box8{
    
    float:left;
    width:40%;
}
.box8_txt1{
    font-size:86px;
    font-weight:bold;
}
.box8_txt2{
    font-size:41px;
}
.career_button{
    margin:23%;

}
.mid_box8{
    float:left;
    width:30%;
}
.rt_box8{
    float:left;
    width:30%;
}
.mid_box8Anim{
    margin-left:50%;
    transform:scale(1, 1.5);
}
.rt_box8Img > img{
    height:1000px;
    width:1000px; 
    border-style:inherit;
    border-radius:32%; 
}


/* SIGN UP BOX (box9) */
#box9{
    width:100%;
    background-color:orange; 
    display:inline-block;
}
.lt_box9{
    margin:2% 5% 2% 20%;
    float:left;
    width:40%;
}

.box9_txt1{
    font-size:41px;
    margin-top:3%;
}
.box9_txt2{
    font-size:32px;
}
.rt_box9{
    margin-left:5%;
    float:left;
    margin-top:3%; 
   
}

/* FOOTER box */

.footDeco{
    width:100%;
    display:inline-block;
}
.lt_Fbox{
    margin:3% 5% 5% 20%;
    float:left;
   
}
.mid_Fbox{
    margin-top:4%;
    float:left;
}
.mid_Fbox > img{
    margin-left:3%;    
}
.mFbox_Txt{
    font-size:23px;
    margin-left:1%;
    margin-top:1%;
}
.rt_Fbox{
    margin-left:9%;
    float:left;
    margin-top:4%;   
}
.socialLogo{
    width:100px;
    height:100px;  
}
.fTxt1{
    font-size:32px;
}
.tile_border{
    font-size:32px;
    margin-top:5%;
}
.tb1{
    margin-right:3%;    
    border-right:solid 3px white;
    padding-right: 3%;
}
.noborder{
    border: none;
}

.rt_Fbox > a{
    text-decoration: none;
}